/* Inter — OFL-licensed; bundled under docs/design/assets/fonts/.
   Weights below are the minimal set S5.5 + S6 use. Add Extras only
   when a real need lands; bundle bloat is cheap but not free. */

@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
